
<div ng-init="init()">
    <input ng-model="playlistid">{{playlistid}}

    <button ng-click="getPlaylist()">Search!</button>

    <button ng-click="analyze()" ng-hide="!tracks">Analyze</button>
    <h3>{{category}}</h3>
    <div ng-if="error">
        Error retrieving playlist: {{error}}
    </div>
    <!-- <div>
        {{tracks}}
    </div> -->
    <table>
        <tr>
            <td>
                track name
            </td>
            <td>
                track artist
            </td>
        </tr>
        <tr ng-repeat="item in tracks">
            <td>
                {{item.name}}
            </td>
            <td>
                {{item.id}}
            </td>
        </tr>
    </table>
</div>