
<div ng-init="init()">
    <div class="pt-4 row">
        <div class="col">
            <input ng-model="playlistid">

            <button ng-click="getPlaylist()">Search!</button>
        
            <button ng-click="analyze()" ng-hide="!tracks">Analyze</button>
        </div>
        
        <div class="col" ng-hide="!category">
            <p>This playlist is great for the <b>{{category}}</b></p>
        </div>
    </div>

    <div ng-if="error">
        Error retrieving playlist: {{error}}
    </div>

    <div class="pt-4 row" ng-if="tracks">
        <div class="col">


        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Track Name</th>
                <th scope="col">Track ID</th>
                <th scope="col">Track Artist</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in tracks">
                <th scope="row">
                    {{item.num}}
                </th>
                <td>
                    {{item.name}}
                </td>
                <td>
                    {{item.id}}
                </td>
                <td>
                    {{item.artists}}
                </td>
            </tr>
            </tbody>

        </table>
        </div>
    </div>
</div>